# Visual Studio / .NET
.vs/
bin/
obj/
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/

# User-specific files
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper

# NuGet
*.nupkg
packages/
